.galleryPage {
  top: 70px;
  position: relative;
  width: 100%;
}
.galleryContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
.galleryTitle {
  text-align: center;
  margin: 0 15% 50px;
}
.galleryTitle h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 60px;
  font-family: "Great Vibes", cursive;
}
.imageList {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
}
.galleryImage {
  margin-bottom: 30px;
  width: 33%;
}
.galleryImage img {
  width: 33%;
}
