.NavHeader {
  position: fixed;
  top: 0;
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.navHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  min-width: 500px;
}
.NavHeader .nameLove {
  color: #666;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: xx-large;
}
.NavHeader .headerDate {
  font-size: 20px;
  color: #666;
}
.NavHeader .headerDate span {
  color: #e65959;
}
.NavHeader .nameLove span {
  color: #e65959;
}
.nav {
  background-color: #ff8578;
  position: fixed;
  top: 70px;
  z-index: 99;
  height: 50px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Love Ya Like A Sister", cursive;
  font-size: xx-large;
}
.navContent {
  height: 100%;
  width: 980px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.navContent .navLink {
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  border-left: solid 1px white;
  height: 100%;
  display: flex;
  align-items: center;
}
.navLink:hover {
  cursor: pointer;
  height: 100%;
  align-items: center;
  display: flex;
  background-color: #fff;
  color: #ff8578;
}
.menuIcon {
  display: none;
}
@media screen and (max-width: 1040px) {
  .menuIcon {
    display: initial;
    cursor: pointer;
    right: 5%;
    position: relative;
  }

  .nav {
    height: 150px;
    padding: 0px;
    transition: all 0.66s ease-in-out;
  }
  .nav.open {
    top: 50px;
    margin-top: -100%;
  }
  .navContent {
    padding-inline-start: 0px;
    width: 80%;
    flex-direction: column;
  }
  .navContent .navLink {
    border: none;
    justify-content: center;
  }
  .headerDate {
    display: none;
  }
}
