.ourDayPage {
  position: relative;
  top: 29px;
  max-width: 980px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
}
.ourDayTiltle {
  font-family: "Great Vibes", cursive;
  font-size: 70px;
  text-align: center;
  margin-top: 0;
  margin: 0 15% 50px;
}
.ourDayTiltle h1 {
  color: #24201d;
  font-size: 50px;
}
.ourDayTiltle h1 span {
  color: #ff8578;
}
.countContainer {
  display: flex;
  justify-content: center;
}
.count {
  width: 20%;
  display: inline-block;
  background-color: #ff8578;
  color: #fff;
  font-size: 40px;
  line-height: 1.1em;
  margin-right: 1%;
  text-align: center;
  padding: 20px;
}
.countTitle {
  font-family: "Roboto", sans-serif;
  display: block;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  margin-top: 5px;
  text-transform: uppercase;
}
.description p {
  font-family: "Roboto", sans-serif;
  margin: 50px 15% 10px;
  text-align: center;
  color: #9c9c9c;
}
.description p span {
  font-weight: bold;
  color: #ff8578;
}
/* @media (max-width: 1040px) {
  .ourDayPage {
    width: 950px;
  }
}
@media (max-width: 980px) {
  .ourDayPage {
    width: 870px;
  }
}
@media (max-width: 768px) {
  .ourDayPage {
    width: 600px;
  }
} */
